[submodule "src/stdlib"]
	path = src/stdlib
	url = https://github.com/japeslang/stdlib.git
[submodule "src/toolchain"]
	path = src/toolchain
	url = https://github.com/japeslang/toolchain.git
[submodule "doc/rfc"]
	path = doc/rfc
	url = https://github.com/japeslang/rfc.git
